**/*.mp4
**/*.webm
**/*.m4a
**/*.wav
!assets/**/*.mp4
!assets/**/*.webm
!assets/**/*.m4a
!assets/**/*.wav
**/temp/**
**/clips/**
**/.venv/**
**/node_modules/**
**/.next/**
**/postgres_data/**
**/redis_data/**
**/whisper_models/**
